.container-fluid {
  font-family: "Texturina", serif;
  max-width: 750px;
  margin-top: 10px;
}

.card {
  background-image: url("./images/nbc.jpg");
  background-position: 55% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(to bottom right, cornflowerblue, white);*/
  height: 100%;
  border: 0.2rem solid #fac168;
  border-radius: 40px;
}

h2,
.temp,
.units,
.todayTempMinMax,
.Today,
.NextDays {
  color: white;
}

.forHour {
  font-weight: bold;
}

.code {
  margin: 0px;
  padding: 0;
  font-size: 12px;
  font-family: "Texturina", serif;
  font-weight: bold;
  margin-left: 25px;
}

@media (max-width: 450px) {
  .code {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  .code {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .card {
    background-position: 50% 60%;
  }
}
